.main-header_container {
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
  inset:0;
  z-index: 100;
  position: sticky;
  top: 0;
  transition: 'top 0.3 ease';
  background-color: var(--backMainLight);
  
}

.left-header_side {
  width: 172px;
  height: inherit;
}

nav {
  display: flex;
  align-items: center;
  gap: 25px;
  width: auto;
  flex-grow: 1;
  justify-content: center;
}

.right-header-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  gap:20px;
  padding: 0 16px;
}

.nav-dropDown-menu {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  opacity: 1;
  top: 77px;
  left: 0;
  z-index: 15;
  position: absolute;
  transition: 'opacity 1s ease';
  background-color: rgb(214, 214, 214);
  gap: 200px;

  /* dark theme  background-color: rgb(74, 76, 74);*/
}

.dropDown-list {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  margin: 20px 0 0 0;
  gap:20px;
  padding: 0 30px 0 0;
  align-items: flex-end;
}
