.main-header_container {
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
  inset: 0;
  z-index: 100;
  position: sticky;
  top: 0;
  transition: 'top 0.3 ease';
  background-color: var(--bg-header);
}

.left-header_side {
  width: 172px;
  height: inherit;
}

.nav-section {
  display: flex;
  align-items: center;
  gap: 25px;
  width: auto;
  height: inherit;
  flex-grow: 1;
  justify-content: center;
}

.right-header_side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  gap: 20px;
}

.gender-nav-section > a {
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  color: var(--text-main);
}


.nav-dropDown-menu {
  width: 100%;
  /* height: auto; */
  min-height: 450px;
  position: absolute;
  align-items: stretch;
  top: 77px;
  left: 0;
  display: flex;
  justify-content: center;
  /* background-color: rgb(214, 214, 214); */
  background-color: var(--bg-main);
  color: var(--text-main);
  gap: 200px;
  z-index: 15;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.2s ease,
    visibility 0s linear 0.2s;
}

.menuVisible {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  transition: opacity 0.2s ease;
}

.list {
  display: flex;
  flex-direction: column;
  border-right: 1px solid currentColor;
  height: auto;
  margin: 20px 0;
  gap: 20px;
  padding: 0 30px 0 0;
  align-items: flex-end;
}

.list > a {
  font-weight: 300;
  color: var(--text-main);
}

/* Search Box */

.search-input {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-main);
  gap: 20px;
  opacity: 0;
  visibility: hidden;
  top: 0;
  background-color: var(--bg-header);

  transition:
    top 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.search-input.open {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.search-input.close {
  opacity: 0;
  visibility: hidden;
  top: -100%;
}

.input-dropDown_wrap {
  display: flex;
  width: 60%;
  height: 40px;
  gap: 10px;
  align-items: center;
  position: relative;
}

.input-dropDown_wrap > input {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 35px 0 20px;
  outline: none;
  letter-spacing: 2px;
  color: var(--text-main);
  border: 1px solid currentColor;
  background-color: var(--bg-main);
}

.input-dropDown_wrap > .search-opened {
  position: absolute;
  right: 40px;
  width: 20px;
}

/* Cart Box **************************/
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 100;
}

.overlay.overlay-visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  cursor: pointer;
}

.box-container {
  display: flex;
  width: 500px;
  background-color: var(--bg-fourth);
  /* height: 100%; */
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  cursor: default;
  /* inset: 0; */
  right: 0;
  top: 0;
  z-index: 110;
  position: fixed;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
  overflow: hidden;
}

.box-container-burger {
  display: flex;
  justify-content: space-between;
}

.box_open {
  transform: translateX(0);
}

.box-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-header {
  height: 60px;
}

.product-total {
  height: 40px;
  border-bottom: 1px solid currentColor;
}

.product-wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.product-img {
  width: 150px;
  height: 150px;
}

.product-list {
  display: flex;
  height: auto;
  width: inherit;
  justify-content: space-between;
  /* padding: 20px 20px; */
  padding: 20px 0;
  border-bottom: 1px solid currentColor;
}

.item-name_info {
  display: flex;
  height: auto;
  gap: 15px;
  flex-direction: column;
}

.item-price_del {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.item-name_info > span {
  font-weight: 600;
}

.item-price_del > span {
  font-weight: 600;
}

.remove-img {
  color: red;
}
.item-price_del > button {
  width: 100%;
  height: 40px;
  background-color: var(--bg-sec);
}
.item-price_del > button:hover {
  background-color: grey;
  width: 100%;
  height: 40px;
}

.box-footer {
  display: flex;
  gap: 30px;
  margin: 0 0 20px 0;
  flex-direction: column;
}

.checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.checkout > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: var(--bg-sec);
  font-weight: 600;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.checkout > a:hover {
  background-color: var(--bg-hover);
  color: var(--text-sec);
}

@media screen and (max-width: 1024px) {
  .nav-section,
  .toLogIn {
    display: none;
  }
  #logo {
    width: 80px;
    height: auto;
  }
  .left-header_side {
    width: 80px;
    height: auto;
  }
}

/* Burgir Menu  ****************************************/

.nav_burger {
  overflow-y: scroll;
  scrollbar-width: none;
}

.create-account {
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom:1px solid currentColor;
}

.create-account > a {
  width: 100%;
}

.create-account > a > span {
  margin-left: 20px;
  text-align: center;
  height: 20px;
}


.nav_burger {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.burger-nav-items {
  display: flex;
  flex-direction: column;
}

.inner-child, .inner.grandchild {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.inner-child.open, .inner.grandchild.open {
  max-height: 1000px; /* large enough to fit content */
}
.button-section {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-sec);
  border-bottom: 1px solid currentColor;
  /* background-color: red; */
}

.item-collapser {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  font-size: 16px;
}

.list-unstyled > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  border-left: 1px solid currentColor;
}

.list-unstyled > li > a {
  font-size: 16px;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.rotate-close {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}





.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}


@media screen and (min-width: 1024px) {
  .burger-menu_container {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .input-dropDown_wrap {
    width: 90%;
  }
  .box-container {
    width: 400px;
  }
}
@media screen and (max-width: 425px) {
 .main-header_container {
  padding: 0 10px;
 }
  
  #logo {
    width: 60px;
    height: auto;
  }
  .left-header_side {
    width: 60px;
    height: auto;
  }

  .box-container {
    width: 100%;
  }
  .product-img {
    width: 100px;
    height: 100px;
  }
}
