.main-header_container {
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
  inset: 0;
  z-index: 100;
  position: sticky;
  top: 0;
  transition: 'top 0.3 ease';
  background-color: var(--backMainLight);
}

.left-header_side {
  width: 172px;
  height: inherit;
}

.nav-section {
  display: flex;
  align-items: center;
  gap: 25px;
  width: auto;
  height: inherit;
  flex-grow: 1;
  justify-content: center;
}

.right-header_side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  gap: 20px;
  padding: 0 16px;
}

.men-nav-section > a {
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}
.nav-dropDown-menu {
  width: 100%;
  height: 450px;
  position: absolute;
  top: 77px;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(214, 214, 214);
  gap: 200px;
  z-index: 15;

  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.2s ease,
    visibility 0s linear 0.2s;
}

.menuVisible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease;
}

.list {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  height: 300px;
  margin: 20px 0 0 0;
  gap: 20px;
  padding: 0 30px 0 0;
  align-items: flex-end;
}

.list > a {
  font-weight: 300;
  height: 770px;
}
