.products-loading {
  position: fixed;        
  inset: 0;               
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  background-color: var(--bg-main);
  transition: opacity 1s ease;
  opacity: 1;
  visibility: visible;
  z-index: 15; 
}

.icon-loading-svg {
  /* color: red; */
  /* background-color: red; */
  fill: var(--text-main);
}
/* 
.products-loading.fade-out {
  opacity: 0;
} */

.products-loading span {
  color: var(--text-main);
  font-size: 1.5rem;
  margin-right: 20px;
  font-weight: bold;
}

/* **************** */
/* #intro-to-freestyler {
  background-color: var(--bg-main);
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  opacity: 1;
  visibility: visible;
} */

@media screen and (max-width: 768px) {

  #logoForIntro {
    width: 150px;
    height: auto;
  }

  #icon-loading-intro {
    width: 100px;
    height: 100px;
  }

 
}