#gif-top {
  width: 100%;
  height: 64px;
}

#gif-top > img {
  width: 100%;
  height: 64px;
  filter: saturate(4);
}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.product-section_name {
  width: 100%;
  height: 80px;
}

.product-section_name > span {
  font-size: 24px;
  letter-spacing: 1.2;
}

/* Filter Section **************************/

#total-products {
  font-size: 16px;
  font-weight: 600;
}

#filter-grid_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 46px;
  background-color: var(--bg-sec);
}
.grid-column-icons {
  gap: 16px;
}

.filter-sort_container > button {
  display: flex;
  justify-content:center ;
  align-items: center;
  font-size: 16px;
  display: flex;
  gap:  10px;
}
.filter-sort_container > span {
  font-size: 16px;
  letter-spacing: 1.2px;
}

/* MEDIA **************************************/

@media screen and (max-width: 1024px) {
  .grid-column-icons {
    display: none;
  }
}
