#gif-top {
  width: 100%;
  height: 64px;
}

#gif-top > img {
  width: 100%;
  height: 64px;
  filter: saturate(4);
}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.product-section_name {
  width: 100%;
  height: 80px;
}

.product-section_name > span {
  font-size: 24px;
  letter-spacing: 1.2;
}

/* Filter Section **************************/

#total-products {
  font-size: 16px;
  font-weight: 600;
}

#filter-grid_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 46px;
  background-color: var(--bg-sec);
}
.grid-column-icons {
  gap: 16px;
}

.filter-sort_container > button {
  display: flex;
  justify-content:center ;
  align-items: center;
  font-size: 16px;
  display: flex;
  gap:  10px;
  width: 90px;
}
.filter-sort_container > button > span {
  font-size: 16px;
  letter-spacing: 1.2px;
  font-weight: 600;
}


/* Main product content  **************/

.main-content-container {
  display: flex;
  width: 100%;
  /* gap: 20px; */
}

.left-filter-container {
  display: flex;
  flex-direction: column;
}

.filters-left {
  display: flex;
  justify-content: center;
  width: 400px;
  /* background-color: var(--bg-sec); *//
}

.sticky-filter > span {
  font-size: 20px;
  width: inherit;
}

.sticky-filter {
  position: sticky;
  position: -webkit-sticky;
  top: 77px;
  display: flex;
  gap:20px;
  height: fit-content;
  padding-top: 25px;
  flex-direction: column;
  /* padding: 20px; */
  /* background-color: var(--bg-third); */
  width: 80%
}

.accordion-wrapper {
  display: flex;
  flex-direction: column;
  gap:10px
  /* padding: 0 20px; */
}

.accordion-form {
  width: 100%;
  /* background-color: var(--bg-sec); */
  padding: 0 20px;

  height: 60px;
  display: flex;
  justify-content: space-between;
  border: 1px solid currentColor;
}
.filter-category {
  width: 100%;
  height: auto;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: c;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

/* .filter-category-item {
  height: auto;
  flex-direction: column;

} */











/* GRID CONTENT  ******************************/

.grid-content {
  display: grid;
  width: 100%;
  gap:1px;
  border-left: 1px solid currentColor;

  /* grid-template-columns: repeat(4, 1fr); */
}

.active-grid {
  background-color: var(--bg-third);
  border-radius: 4px;
  width: 30px;
  height: 30px;
  transition: background-color 1s ease;
  /* width: 200px; */
}

.active-gird.blurred {
  filter: blur(4px)
}

.product-content {
  /* height: 640px; */
  height: auto;
  width: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.img-item {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
}

.img-item-link {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  border-right: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.img-g {
  width: 90%;
  height: 90%;
  object-fit: cover;
  
}

.item-info {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 28px;
  justify-content: space-evenly;
  border-right: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.product-name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.item-info-price {
  display: flex;
  gap: 20px;
}

.product-price {
  font-size: 14px;
  font-weight: 700;
}

/* Load More **********/

.load-more-content {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0 0;
  padding: 0 20px;
  border-top: 1px solid currentColor;
}
.load-more-content > button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--bg-sec);
  /* border: 1px solid currentColor; */
  cursor: pointer;
}

/* MEDIA **************************************/

@media screen and (max-width: 1024px) {
  .grid-column-icons {
    display: none;
  }
  
  .grid-content {
    grid-template-columns: repeat(3, 1fr)!important;
  }
  .filters-left {
    width: 40%;
  }
  .sticky-filter { 
    width: 80%;
  }
  
  .accordion-form {
    height: 50px;
  }
  .filter-category-item {
    font-size: 8px;
  }
}


@media screen and (max-width: 768px) {
  .grid-content {
    grid-template-columns: repeat(2, 1fr)!important;
    border-left: 1px solid currentColor;
  }
  .img-item-link {
  }
  .item-info {
    padding: 0 20px;
  }
  .product-name {
    font-size: 14px;
  }
  .filters-left {
    display: none;
  }
  


}
@media screen and (max-width: 425px) {
  
  .grid-content {
      grid-template-columns: repeat(1, 1fr)!important;
      border: none;
  }
  .img-item-link {
    border-right: none;
    /* border-left: none; */
  }
  .item-info {
    padding: 0 20px;
    border-right: none;
    border-left: none;
  }

}