.account-container {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: var(--bg-main);
}

.account-wrapper {
  width: 50%;
  margin-top: 100px;
}

.profile-header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-header > span{
  font-size: 18px;
  font-weight: 600;
}
.profile-header > button{
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid currentColor;
}


/* Email/Name Sectionnnnnnnnnnnn */



.profile-box {
   width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  margin-top: 30px;
  border: 1px solid currentColor;
}

.profile-detail-header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.profile-detail-header > label{
  color: grey;
  font-size: 18px;
}

.profile-detail-footer {
  display: flex;
  flex-direction: column;
  gap:10px
}

.profile-detail-footer > label {
    color: grey;
  font-size: 18px;
}

.no-address-added {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: grey;
  gap:20px;
  padding: 0 20px;

}

/* Modal Profile */

.modal-profile-user-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4)
}

.user-wrapper-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: auto;
  gap: 40px;
  background-color: var(--bg-sec);
  padding: 20px;
}

.form-edit-header {
  display: flex;
  justify-content: space-between;
}

.form-edit-header > span {
  font-size: 18px;
  font-weight: 600;
  text-align: var(--text-main);
}

.edit-form-inputs-modal {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.edit-form-input-fields {
  padding: 0 10px;
  /* background-color: var(--bg-fourth); */
  border: 1px solid currentColor;
  outline: none;
}


.modal-profile-save-cancel-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
.modal-profile-save-buttons {

  border: 1px solid currentColor;
  height: 40px;
  width: 100px;
  background-color: var(--bg-main);
}
.modal-profile-save-buttons:hover {
  background-color: var(--bg-hover);
  color: var(--text-sec)
}

@media screen and (max-width: 768px){
  .account-wrapper {
    width: 80%;
  }
}